<a href="https://colab.research.google.com/github/Dead-d-eal/Sagar_AIML/blob/main/03_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using List in Python

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
n=int(input("Enter your value: "))
for i in list:
  c=n*i
  print(c)

Enter your value: 4
4
8
12
16
20
24
28
32
36
40

In [ ]:
list = [10,2,30,4,58,6,79,8,92,10]
sum=0
for i in list:
  sum=sum+i
  print("The sum :",sum)

The sum : 10
The sum : 12
The sum : 42
The sum : 46
The sum : 104
The sum : 110
The sum : 189
The sum : 197
The sum : 289
The sum : 299

Using range function i
n for loop

In [ ]:
for i in range(10):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
n=int(input("Enter the number: "))
for i in range(1,11):
  c=n*i
  print(n,'X',i,'=',c)

Enter the number: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
n=int(input("Enter the value: "))
for i in range(2,n,2):
  print(i)

Enter the value: 20
2
4
6
8
10
12
14
16
18

In [ ]:
n=int(input("Enter the value: "))
sum=0
for i in range(2,n,2):
  sum=sum+i
  print(sum)

Enter the value: 20
2
6
12
20
30
42
56
72
90

In [ ]:
list=['Sagar','Abhisek','Girish','Sovanjeet','Laxmiranajan','Saisagar']
for i in range(len(list)):
  print("Hello",list[i])

Hello Sagar
Hello Abhisek
Hello Girish
Hello Sovanjeet
Hello Laxmiranajan
Hello Saisagar

Nested loop using Python

In [ ]:
for i in range(5):
  for j in range(5):
    print(i,end=' ')
  print(' ')

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i,end=' ')
  print(' ')

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(5):
  for j in range(5):
    print(i+1,end=' ')
  print(' ')

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
rows=int(input("Enter the rows: "))
for i in range(0,rows+1):
  for j in range(i):
    print('*',end=' ')
  print(' ')

Enter the rows: 5

*
* *
* * *
* * * *
* * * * *

While loop using in Python

In [ ]:
s=0
i=1
while i<=10:
  s=s+i
  i=i+1
print("Sum is: ",s)

Sum is:  55

In [ ]:
num=int(input("Enter a number: "))
rev=0
while num>0:
  rem=int(num%10)
  rev=rev*10+rem
  num=int(num/10)
print("Reverse is: ",rev)

Enter a number: 123
Reverse is:  321

In [ ]:
#break statement
i=1
while i<10:
  print(i)
  if i==5:
    break
  i=i+1

1
2
3
4
5

In [ ]:
#using statement
i=1
while i<=10:
  if i==5:
   continue
  print(i)
  i=i+1

1
2
3
4