<a href="https://colab.research.google.com/github/Dead-d-eal/Sagar_AIML/blob/main/20_01_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=2
b=5
print(a**b)

32

In [2]:
#using / and //
a=8
b=3
print(a/b)
print(a//b)

2.6666666666666665
2

In [3]:
a=True
b=True
c=False
print(a and b)
print(a and c)
print(a or b)
print(not c)

True
False
True
True

In [5]:
a=5
b=2
print(a<<b)
print(a>>b)

20
1

In [17]:
#using ASSIGNMENT operator
x=5
x+=5
print(x)
x-=5
print(x)
x*=5
print(x)
x/=5
print(x)
x%=5
print(x)
x//=5
print(x)

10
5
25
5.0
0.0
0.0

In [16]:
x=5
y=5
print(x is y)
y=6
print(x is not y)

True
True

In [18]:
x='HELLO'
print('A' in x)
print('A' not in x)

False
True

In [19]:
#using if statement in python
num=int(input("Enter a number: "))
if num%2==0:
  print("Even no=",num)

Enter a number: 24680
Even no= 24680

In [21]:
#using if-else statement in python
num=int(input("Enter a number: "))
if num%2==0:
  print("Even no=",num)
else :
  print("Odd no=",num)

Enter a number: 233
Odd no= 233

In [25]:
#using else if statement in python
x=int(input("Enter 1st number: "))
if x==10:
  print(x,"is equal to 10")
elif x==50:
  print(x,"is equal to 50")
else:
  print(x,"is not equal to 10 or 50")

Enter 1st number: 23
23 is not equal to 10 or 50

In [28]:
#using for statement
str="PYTHON"
for i in str:
  print(i)

P
Y
T
H
O
N